.navBarContainer {
  width: 30%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: lightslategray;
  font-family: 'sandShoesBold';
  border-radius: 10px;
  font-weight: bold;
  
  margin: 10px 0 5% 20% ;
  text-shadow: 1px 1px 2px darkslategray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
     }
    a {
      text-decoration: none;
      color: white;
      padding: 15% 0 15% 0;
    }
  

  
}
